* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

.form-group {
  margin-top: 1.5rem;
}

#recipes {
}

.card {
  width: 320px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.04);
  margin: 0 auto;
  margin-bottom: 2rem;
}

#find {
  margin-top: 2rem;
}
